html{
  background-color: #EEE;
  background: url(backg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin: 0px;
  padding: 0px;
}

div.head{
  background-color: #002;
  color: #FFF;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: xx-large;
  margin: 0px;
  padding: 4px;
}

div.body{
  background-color: #efe;
  color: #222;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: large;
  margin: 0px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 80%;
}

table.blog-layout{
  border: 0px;
  width: 100%;
}

td.blog-prison{
  margin: 16px;
  padding: 0px;
}

a.blog-tab{
  /*background-color: #996;*/
  border-radius: 40px;
  color: #FFF;
  display: block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 32pt;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

a.nav:link, a.nav:visited{
  background-color: transparent;
  color: #FFF;
  margin: 0px;
  padding: 16px;
  position: relative;
  text-decoration: none;
}

a.nav:hover, a.nav:active{
  background-color: #999;
}

@media all and (max-aspect-ratio: 8/5){
  div.body{
    font-size: x-large;
    margin-top: 0px;
    width: 100%;
  }
}

div.blog-block{
  visibility: hidden;
}

@media all and (min-aspect-ratio: 8/5){
  div.blog-block{
    visibility: visible;
  }
}